// NativeScript core theme
// @see https://docs.nativescript.org/ui/theme
@import '~nativescript-theme-core/scss/skins/purple/index';
@import '~nativescript-theme-core/scss/index';
// Global SCSS styling
// @see https://docs.nativescript.org/ui/styling
@import 'assets/variables';

.bgBlueDark{
  background-color: $blueDarkColor;
}

.page{
    background:$greyColor;
}

.fa{
  font-family: "FontAwesome";
}

.mdi {
  font-family: "Material Icons", "MaterialIcons-Regular";
}

.smallText{
  font-size:12.5em;
}

.tinyText{
  font-size:8.5em;
}

.smallTitle{
  text-decoration-color:$blueColor; 
  text-decoration: underline;
}

.iconPic{
  vertical-align: middle;
  text-align: center;
  font-size: 100;
}

.activeText{
  color:$blueLightColor;
}

.bg-grey{
  background-color:#aaaaaa;
}

.chip-selected{
  background-color:#9E9E9E;
}

.bg-light-blue{
  background-color: $blueColor;
}

.bg-dark-blue{
  background-color: $blueDarkColor;
}

.bg-light-green{
  background-color: $greenColor;
}

.bg-light-red{
  background-color:$redColor;
}

.text-light-blue{
  color:$blueColor;
}

.text-dark-blue{
  color:$blueDarkColor;
}

.text-light-red{
  color:$redColor;
}

.text-light-green{
  color:$greenColor;
}

.text-white{
  color:white;
}

.bg-white{
  background-color:white;
}

.bottom-line-red{
  border-bottom-color: $redColor;
  border-bottom-width:  5px;
}

.bottom-line-blue{
  border-bottom-color: $blueColor;
  border-bottom-width:  8px;
}